.navbar {
    background-color: #8eb0af;
    /* padding: 1%; */
  }
  
.navbar-nav {
    background-color: #8eb0af;
    /* padding: 1%; */
    display: inline-block;
}

.navbar-nav:hover {
    background-color: #6c8e8d;
}

.table{
    width: fit-content;
    /* border: 1px solid black; */
    padding: 2%;
    display: block;
    margin:  auto;
    border-spacing: 0 10px;
}

.table tr {
    border: 1px solid black;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

.table th, .table td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}

.table th{
    background-color: #b1cac9;
    color: rgb(69, 69, 69);
}

.row-spacing {
    margin-bottom: 10px;
  }
